.container {
  border-bottom: 10px solid white;
  padding: 10px;
  height: 83vh;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 1910px) {
  .container {
    display: flex;
    height: 90vh;
  }
}

.login, .info, .customize {
  background-color: #809EFF;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.6);
}

.about {
  background-color: #003CFF;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.6);
}
